{% include "common/head.html" %}

<body class="HolyGrail">

{% include "common/ribbon.html" %}

<img src="/assets/img/sp_square.png" alt="" class="bg"/>

{% include "common/header.html" %}

<div class="content HolyGrail-body">

    <main class="HolyGrail-content">
        {% include "twig/results.twig" %}
        {% include "twig/pagination.twig" %}
    </main>
    {% include "twig/nav.twig" %}
    {#<aside class="HolyGrail-ads">…</aside>#}

    {% include "common/ga.html" %}

</div>

{% include "common/footer.html" %}

{% include "common/modal-examples.html" %}

{% include "common/jsblock.html" %}

</body>
</html>