<div class="modal fade" id="examples-table" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="examples-table-label">Query element
                    examples</h4>
                <p>Note that using the main search will override anything defined in the detailed search fields. The two modes cannot be used simultaneously.</p>
            </div>
            <div class="modal-body">
                <table class="controls table vanilla" border="0"
                       cellpadding="5">
                    <thead>
                    <tr>
                        <th>query=</th>
                        <th>Returns...</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>computer vision</td>
                        <td>All objects containing "computer" and "vision"
                            anywhere
                            in
                            all Diffbot-extracted fields.
                        </td>
                    </tr>
                    <tr>
                        <td>"web page analysis"</td>
                        <td>All objects containing the phrase "web page
                            analysis"
                            anywhere in all Diffbot-extracted fields.
                        </td>
                    </tr>
                    <tr>
                        <td><span>author:<span
                                style="color:#888">"John Henry"</span></span>
                        </td>
                        <td>
                            <span>All objects containing "John Henry" in the <code>author</code> field. All Diffbot fields within a collection can be queried against.</span><br><br>
                            <strong>Other examples:</strong> tags:"Barack
                            Obama",
                            offerPrice:10.00
                        </td>
                    </tr>
                    <tr>
                        <td><span>images.caption:<span
                                style="color:#888">flower</span></span>
                        </td>
                        <td>
                            <span>All objects containing "flower" in the <code>caption</code> field within a nested <code>images</code> array.</span><br><br>
                            <strong>Other example:</strong>
                            images.url:amazon.com
                        </td>
                    </tr>
                    <tr>
                        <td><span>type:<span
                                style="color:#888">article</span></span>
                        </td>
                        <td><span>All objects identified as articles / processed by the Article API.</span><br><br><strong>Other
                            examples:</strong> type:product, type:image
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:#888">football</span> -49ers</td>
                        <td>All objects containing "football" but not containing
                            "49ers," in all Diffbot-extracted
                            fields.<br><br><strong>Other
                                examples:</strong> title:pantene
                            -title:conditioner,
                            text:diffbot -author:"farhad manjoo"
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:#888">john</span> OR <span
                                style="color:#888">paul</span></td>
                        <td>Objects containing either "john" or "paul" in
                            Diffbot-extracted fields. <code>OR</code> must be
                            capitalized.<br><br><strong>Other examples:</strong>
                            title:ukraine OR title:putin, "bill clinton" OR
                            "george
                            bush", title:"puppy chow" OR text:"dog food"
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:#888">george</span> AND <span
                                style="color:#888">ringo</span></td>
                        <td>Objects containing both "george" and "ringo" in
                            Diffbot-extracted fields. <code>AND</code> must be
                            capitalized.<br><br><strong>Other examples:</strong>
                            title:lakers AND text:basketball, "red sox" AND
                            author:"bill
                            simmons"
                        </td>
                    </tr>
                    <!--<tr><td><span style="color:#888">"beach boys"</span> AND NOT <span style="color:#888">beatles</span></td><td>Objects containing "beach boys" but not containing "beatles" in any Diffbot-extracted fields. <code>AND NOT</code> must be capitalized.<br><br><strong>Other examples:</strong> title:pantene AND NOT title:conditioner, text:diffbot AND NOT author:"farhad manjoo"</td></tr>-->
                    <tr>
                        <td>(<span style="color:#888">obama</span> OR <span
                                style="color:#888">clinton</span>) AND <span
                                style="color:#888">president</span></td>
                        <td>Objects either "obama" or "clinton," and also
                            "president."
                            Parentheses can be used to nest Boolean
                            queries.<br><br><strong>Other examples:</strong>
                            (title:diffbot AND title:robots) OR title:startup
                        </td>
                    </tr>
                    <tr>
                        <td><span>site:<span
                                style="color:#888">diffbot.com</span></span>
                        </td>
                        <td><span>All objects extracted from diffbot.com. The site operator queries against values in the <code>pageUrl</code> and <code>resolvedPageUrl</code> fields.</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>sortby:<span
                                style="color:#888">timestamp</span></span></td>
                        <td>Objects sorted (descending) by the specified Diffbot
                            field.
                            Must be a numeric (e.g. "offerPrice") or date field.
                            For
                            date formatting, see Date Queries below.
                        </td>
                    </tr>
                    <tr>
                        <td><span>revsortby:<span
                                style="color:#888">date</span></span>
                        </td>
                        <td>Objects sorted (ascending) by the specified Diffbot
                            field.
                            Must be a numeric or date field. For date
                            formatting,
                            see Date Queries below.
                        </td>
                    </tr>
                    <tr>
                        <td><span>min:<span
                                style="color:#888">timestamp:1426784899</span></span>
                        </td>
                        <td>All objects indexed (processed) after March 19, 2015
                            (in
                            Unix epoch time). The <code>min</code> or
                            <code>max</code>
                            operators work only with numeric or date fields. For
                            date
                            formatting options, see Date Queries below.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div><h4 id="date">Date Queries</h4>

                    <p>You can query against Diffbot API <code>date</code>
                        fields (the extracted article or discussion post date,
                        for instance), or against the <code>timestamp</code>
                        field, which represents the time of an object's indexing
                        into the collection.</p>

                    <p>The <code>timestamp</code> field can be used to <a
                            href="http://support.diffbot.com/crawlbot/in-a-recurring-crawl-how-do-i-download-only-the-latest-rounds-content/">return
                        the latest content</a> from a crawl or bulk job (e.g.
                        <code>min:timestamp:2015-03-01</code>, for instance only
                        the objects found in the last crawl round, or since the
                        last search was run.</p>

                    <p>When querying dates, your date values should be in one
                        the following formats:</p>
                    <ul>
                        <li><a href="http://en.wikipedia.org/wiki/ISO_8601"
                               target="_blank">ISO 8601</a>, e.g. <code>2014-05-09</code>
                            or <code>2014-05-10T17:40:25+00:00</code></li>
                        <li><a href="http://en.wikipedia.org/wiki/Unix_time"
                               target="_blank">Unix timestamp</a>, e.g. <code>1399669321</code>
                        </li>
                        <li>
                            <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3"
                               target="_blank">RFC 1123 (HTTP/1.1) </a>, e.g.
                            <code>"Fri, 09 May 2014 23:41:22 GMT"</code></li>
                        <!--<li>Any human-readable date-string in YMD order, which Diffbot will attempt to normalize, e.g. <code>20140501</code>.</li>-->
                    </ul>
                    <p>Be sure to wrap any space-containing date strings in
                        quotation marks.</p></div>
            </div>
        </div>
    </div>
</div>