<nav class="HolyGrail-nav">
    <form id="main-form" class="submit-once">

        <div class="detailed-search-group" style="display: none;">
            {% include "twig/controls/authors.twig" %}
            {% include "twig/controls/keywords.twig" %}
            {% include "twig/controls/twitter.twig" %}
        </div>

        <div class="form-group">
            <input id="submit" class="btn btn-default" type="submit"
                   value="Search" name="search"/>
        </div>
    </form>
</nav>