.HolyGrail {
    height: 100vh;
}

.HolyGrail-content {
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.HolyGrail,
.HolyGrail-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.HolyGrail-body {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.HolyGrail-nav {
    order: -1;
    background-color: #393939;
    padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 2px;
    color: grey;
}

.HolyGrail-nav input, .main-search {
    width: 95%;
    margin: auto;
    display: block;
}

@media (min-width: 768px) {
    .HolyGrail-body {
        flex-direction: row;
        -webkit-box-flex: 1 1 100%;
        -moz-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    .HolyGrail-content {
        -webkit-box-flex: 1 1 100%;
        -moz-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    .HolyGrail-nav, .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 16em;
    }
}

.results {
    max-width: 600px;
    font-size: small;
}

footer {
    padding: 1.5rem 0;
    background: #393939;
    color: #999;
    font-size: .85em;
    text-align: center;
    flex: none;
}

header {
    color: grey;
    flex:none;
    height: 60px;
    background-color: #393939;
    display: flex;
    align-items: center;
    box-shadow:
    0 0 0 1px dimgrey,
    0 0 0 2px #1e1e1e;

}

header h3 {
    margin:0;
}

header .title {
    height: 60px;
}

header .logomark {
    padding: 0 10px;
    line-height: 60px;
    display: block;
    height: 100%;
}

header ul.right {
    list-style: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin: 0 10px 0 0;
}

header ul li.top-bar_search {
    width: 80%;
    margin-left: 10px;
}


header ul li.top-bar_search form {
    flex: 1;
}

header ul li a {
    padding: 0 20px;
    flex: 1;
    line-height: 60px;
    display: block;
    background: #3a3a3a;
    color: #adadad;
    font-size: 0.9375em;
    font-weight: 400;

}

header ul li:hover a {
    text-decoration: none;
    background: #1e1e1e;
    color: #fff;
}

.result-info {
    color: #808080;
}

.sexy_line {
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, dimgrey));
}

.welcome-message {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
