<div class="form-group">
    <label for="authorinput">Author(s): </label><input
            class="form-control"
            id="authorinput"
            name="authors"
            type="text"
            placeholder="Bruno Skvorc"/>
</div>