<div class="form-group">
    <label for="date-from">From:</label>
    <input class="form-control date" type="text" name="date-from"
           placeholder="From date"/></div>

<div class="form-group">
    <label for="date-to">To</label>
    <input class="form-control date" type="text" name="date-to"
           placeholder="To date"/></div>