<div class="main-search form-group">

    <div class="input-group">
        <input class="form-control" type="text" name="q" id="q"
               placeholder="Full search query"/>
<span class="input-group-btn">
    <button class="btn btn-default" type="button"
            data-toggle="modal"
            data-target="#examples-table">?
    </button>
</span>
    </div>
    {% include "twig/controls/detailedtoggle.twig" %}
</div>